@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #0D1117;
    /* Replace with your desired color */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-family: 'Inter';
    height: 100%;
    overflow: auto;
    /* Allows scrolling */
    scrollbar-width: none;
    /* Firefox hides scrollbar */
    -ms-overflow-style: none;
    /* IE 10+ hides scrollbar */

}



:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
}